body,
html {
  margin: 0;
  font-size: 16px;
}

* {
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;

  @include browser('Chrome') {
    -webkit-font-smoothing: auto;
  }
}

*:not(.material-icons) {
  letter-spacing: 1px;
  font-weight: normal;
  font-family: 'Noto Sans JP', sans-serif;
}

.material-icons {
  user-select: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: $weight-bold;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

h1 {
  font-size: 1.4rem;
}

h2 {
  font-size: 1.3rem;
}

h3 {
  font-size: 1.2rem;
}

p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 30px;
}

a {
  text-decoration: none;
}

input,
textarea {
  font-size: 16px;
}

input {
  &[type='number'] {
    text-align: right;
  }
}

ul {
  padding-left: 20px;
  list-style: none;

  li {
    position: relative;
    line-height: 20px;

    &::before {
      content: '-';
      position: absolute;
      top: 50%;
      left: -10px;
      transform: translate(-50%, -50%);
    }
  }
}

ol {
  padding-left: 20px;
  // list-style: none;
}

.mobile-only {
  display: none !important;

  @media screen and (max-width: 768px) {
    display: block !important;
  }
}

.pc-only {
  @media screen and (max-width: 768px) {
    display: none !important;
  }
}
