$palette-pureblack: #000;
$palette-black: #212121;
$palette-purewhite: #fff;
$palette-white: #fafafa;
$palette-darkgray: #555;
$palette-gray: #c4c4c4;
$palette-lightgray: #efefef;
$palette-beige: #f9f8f4;
